(
  resources: {},
  entities: {
    0: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -372.0,
            y: 55.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "coins_bevy::game::components::Obstacle": (
          radius: 45.0,
        ),
      },
    ),
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -100.0,
            y: 215.99998,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "coins_bevy::game::components::Obstacle": (
          radius: 45.0,
        ),
      },
    ),
    2: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -124.000015,
            y: 37.99999,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "coins_bevy::game::components::Obstacle": (
          radius: 45.0,
        ),
      },
    ),
    3: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 50.999985,
            y: 72.999985,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "coins_bevy::game::components::EndPoint": (
          radius: 80.0,
        ),
      },
    ),
    4: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -489.0,
            y: 197.99997,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "coins_bevy::game::components::PlayerSpawnPoint": (),
      },
    ),
  },
)